#mybuttons {
display: flex;
flex-direction: row;
justify-content: center;
gap: 35px;
position: absolute;
bottom: 50px;
left: 50%;
transform: translateX(-50%);
}

#rockbtn, #paperbtn, #scissorsbtn {
padding: 10px;
border-radius: 14px;
border: none;
cursor: pointer;
width: 150px;
height: 50px;
font-size: 15px;
}

#rockbtn {
background-color: #15c604;
color: white;
}

#paperbtn {
background-color: #046bc6;
color: white;
}

#scissorsbtn {
background-color: #e30a14;
color: white;
}


/*Display Scores*/

#computercontainer{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 18%;
    right: 36%;
}

#playercontainer{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 38%;
    right: 37.5%;
}

#roundcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 38%;
    right: 47%;
    
}

/* Displays Weapon Choices Made By Player and Computer */

.wpnchoice {
    width: 200px;
    height: 200px;
    border: 4px solid black;
    border-radius: 12px;
}

#wpncontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 45%;
    gap: 130px;
}

